<!-- <section class="p-6">
    <h2 class="text-2xl font-bold mb-4">Categories</h2>
    <div class="flex space-x-6 text-center">
        {% for category in categories %}
            <div class="p-4">
                <span class="text-3xl">{{ category.icon }}</span>
                <p>{{ category.name }}</p>
            </div>
        {% endfor %}
    </div>
</section> -->

<h4 class="font-semibold mb-3">Categories</h4>
<div class="d-flex gap-4 mb-5">
    <div class="text-center">
        <i class="bi bi-laptop category-icon"></i>
        <p>Electronics</p>
    </div>
    <div class="text-center">
        <i class="fas fa-tshirt category-icon"></i>
        <p>Fashion</p>
    </div>
    <div class="text-center">
        <i class="bi bi-house category-icon"></i>
        <p>Home</p>
    </div>
    <div class="text-center">
        <i class="bi bi-book category-icon"></i>
        <p>Books</p>
    </div>
</div>